pyppeteer
selenium-wire
selenium
asyncio
ttp
blinker==1.7.0
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
undetected_chromedriver
pytest-playwright
bs4
kafka-python
sshtunnel
paramiko
pyppeteer_stealth
google-cloud-iam
google-cloud-resource-manager